.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.light-theme {
  color: #000000;
  background-color: #ffffff;
}

.dark-theme {
  color: #ffffff;
  background-color: #1e1e1e;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 30px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

h1, h3 {
  margin: 10px 0;
}